<!DOCTYPE html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title></title>
	<meta name="theme-color" content="">
	<link rel="icon" href="{{ asset('img/design/logo-min.png') }}">

	<!-- CSS  -->
	{% block stylesheet %}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link href="{{ asset('css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" >
	<link href="{{ asset('css/materialize.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/animate.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/loader.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/input.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/button.css') }}" type="text/css" rel="stylesheet"/>
	<link href="{{ asset('css/icon.css') }}" type="text/css" rel="stylesheet"/>
	{% endblock %}
</head>
<body>

	<div id="main_wrapper">
		{% block body %}
		{% endblock %}
	</div>

	<div class="row center-align grey-text" style="margin-top: 5em;">
		© {{ "now"|date('Y') }} GUILLAUME FOURNIER
	</div>

	{% block javascript %}
	<!--  Scripts-->
	<script src="{{ asset('js/jquery-2.2.2.js') }}"></script>
	<script src="{{ asset('js/materialize.js') }}"></script>
	<script src="{{ asset('js/scroll-to.js') }}"></script>
	{% endblock %}
	<script>
		
		$(document).ready(function () {
			
		});
	</script>
  </body>
</html>