body {
	background-color: #fafafa;
}

.inscription, .connexion {
	min-width: auto;
}

.inscription {
	background-color: white;
}

.center-img {
	display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.lss-theme {
	background-color: white;
	color: black;
}

.asphalt {
	background-color: #34495e;
}

.asphalt-text {
	color: #34495e;
}

.asphalt-button {
	background-color: #34495e;
}

.red {
	background-color: #d70074 !important;
}

.red-text {
	color: #d70074;
}

.red-btn, .red-btn-big {
	padding: 10px 50px;
    height: auto;
    font-size: 1.6rem;
    background-color: #d70074;
    color: white;
}

.red-btn {
	line-height: 1em;
	font-size: 1rem;
	padding-left: 10px;
	padding-right: 10px;
}

.red-btn:hover, .red-btn-big:hover {
	background-color: #ec4fa3;
}

.red-btn:focus, .red-btn-big:focus {
	background-color: #ec4fa3;
}

.red-text-hover, .blue-text-hover {
	transition: all 0.2s ease-out;
}

.red-text-hover:hover {
	color: #d70074 !important;
}

.blue-text-hover:hover {
	color: #0076b6 !important;
}

.blue {
	background-color: #0076b6;
}

.blue-text {
	color: #0076b6 !important;
}

.blue-btn, .blue-btn-big {
	padding: 10px 50px;
    height: auto;
    font-size: 1.6rem;
    background-color: #0076b6;
    color: white;
}

.blue-btn {
	line-height: 1em;
	font-size: 1rem;
	padding-left: 10px;
	padding-right: 10px;
}

.blue-btn:hover, .blue-btn-big:hover {
	background-color: #2aa0e1;
}

.blue-btn:focus, .blue-btn-big:focus {
	background-color: #2aa0e1;
}

.green {
	background-color: #4ac35e !important;
}

.green-text {
	color: #4ac35e !important;
}

.green-btn, .green-btn-big {
	padding: 10px 50px;
    height: auto;
    font-size: 1.6rem;
    background-color: #4ac35e !important;
    color: white;
}

.green-btn {
	line-height: 1em;
	font-size: 1rem;
	padding-left: 10px;
	padding-right: 10px;
}

.green-btn:hover, .green-btn-big:hover {
	background-color: #71d682 !important;
}

.green-btn:focus, .green-btn-big:focus {
	background-color: #71d682 !important;
}

.yellow {
	background-color: #ffcf01;
}

.yellow-text {
	color: #ffcf01;
}

.yellow-btn, .yellow-btn-big {
	padding: 10px 50px;
    height: auto;
    font-size: 1.6rem;
    color: white;
	background-color: #ffcf01;
}

.yellow-btn {
	line-height: 1em;
	font-size: 1rem;
	padding-left: 10px;
	padding-right: 10px;
}

.yellow-btn:hover {
	background-color: #ffe162;
}

.yellow-btn:focus {
	background-color: #ffe162;
}

.kj-grey {
	background-color: #75828E;
}

.kj-grey-button {
	background-color: #75828E;
}

.disabled:hover {
	background-color: #ececec !important;
}

.asphalt-button:hover, .asphalt-button:active, .asphalt-button:focus, .kj-grey-button:hover, .kj-grey-button:active, .kj-grey-button:focus {
	background-color: #6291BB;
}

.cardinal-button:hover, .cardinal-button:active, .cardinal-button:focus {
	background-color: #983f4d;
}

.green-edition-text {
	color: #71bd74 !important;
}

.green-edition-text:hover {
	color: #4CAF50 !important;
}

.pink {
	background-color: #fbe5f1;
}

.pink-text {
	color: #fbe5f1;
}

.link-hover {
	cursor: pointer;
}

.btn-footer, .btn-body {
	padding-top: 5px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
}

.verticalcenter {
	position:relative;
	top:50%;
	-webkit-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
}

.active-account {
	background-color: #e3b2ba;
	color: white !important;
}

.cursor {
	background: #34495e;
	animation: blink 1s linear infinite;
}

.saisie {
	word-wrap: break-word;
}

.divider-new, .divider-new-right, .divider-new-left {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-weight: 300;
}

.divider-new::before, .divider-new-left::before {
	content: '';
	height: 1px;
	background: #070707;
	flex: 1;
	margin: 0 .45em 0 0;
}

.divider-new::after, .divider-new-right::after {
	content: '';
	height: 1px;
	background: #070707;
	flex: 1;
	margin: 0 0 0 .45em;
}

.divider-new-light::before {
	content: '';
	height: 1px;
	background: #AAA;
	flex: 1;
	margin: 0 .45em 0 0;
}

.divider-new-light::after {
	content: '';
	height: 1px;
	background: #AAA;
	flex: 1;
	margin: 0 0 0 .45em;
}

.divider-new-white {
	display: flex !important;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1.64rem;
	font-weight: 300;
}

.divider-new-white-right::before {
	content: '';
	height: 1px;
	background: white;
	flex: 1;
	margin: 0 .45em 0 0;
}

.divider-new-white-left::after {
	content: '';
	height: 1px;
	background: white;
	flex: 1;
	margin: 0 0 0 .45em;
}

.monthly-operation {
	background-color: #d3eaff !important;
	
}

.monthly-operation:hover {
	background-color: #ffdee3 !important;
}

.differed-operation {
	background-color: #fff9d3 !important;
	
}

.differed-operation:hover {
	background-color: #ffdee3 !important;
}

.edition {
	transition: all .25s ease;
	opacity: 0;
}

.edition-active {
	opacity: 1 !important;
}

.delete-hover:hover, .edit-hover:hover {
	color: #711d2a;
}

.ligne {
	transition: background-color .25s ease;
}

.edited-ligne {
	background-color: #b7f2b7 !important;
}

.edited-ligne:hover {
	background-color: #b7f2b7 !important;
}

.category-click {
	font-size:1rem;
	text-align:center;
	padding:2px;
	color: black;
	border-radius: 5px;
}

.category-click:hover {
	background-color: #e0e0e0;
	border: 1px solid #d70074;
}

#logo_parallax {
	margin-top: 20px;
	margin-bottom: 30px;
	max-width: 150px;
}

.testimony-arrow {
	margin-top: 75px;
	border-radius: 20px;
}

.testimony-arrow:hover {
	background-color: #d8d8d8;
}

.testimony-square, .smartsitters-square, .philosophy-square, .activities-square, .howto-square, .team-square,
.partners-square {
	height: 50px;
	width: 100%;
	position: relative;
	bottom: -3.2em;
	overflow: hidden;
	background-color: white;
}

.testimony-square:before, .smartsitters-square:before, .philosophy-square:before, .activities-square:before, .howto-square:before,
.team-square:before, .partners-square:before {
	position: absolute;
	top: -54px;
	left: calc(50% - 35px);
	content: "";
	height: 50px;
	width: 50px;
	background: transparent;
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow: 0 0 0 5000px #cbe9fa;
}

.philosophy-square {
	background-color: #cbe9fa;
}

.philosophy-square:before {
	box-shadow: 0 0 0 5000px white;
}

.smartsitters-square {
	background-color: white;
}

.smartsitters-square:before {
	box-shadow: 0 0 0 5000px #fbe5f1;
}

.activities-square {
	background-color: #fbe5f1;
}

.activities-square:before {
	box-shadow: 0 0 0 5000px white;
}

.howto-square {
	background-color: white;
	border-top: solid 1px #d70074;
}

.howto-square:before {
	border-right: solid 1px #d70074;
	border-bottom: solid 1px #d70074;
	box-shadow: 0 0 0 5000px #ececec;
}

.team-square {
	background-color: #ececec;
	border-top: solid 1px #d70074;
}

.team-square:before {
	border-right: solid 1px #d70074;
	border-bottom: solid 1px #d70074;
	box-shadow: 0 0 0 5000px white;
}

.partners-square {
	background-color: white;
}

.partners-square:before {
	background-color: transparent;
	box-shadow: 0 0 0 5000px transparent;
}

.cover-square, .cover-square-static {
	position: relative;
	top: -10px;
	left: calc(50% - 33.5px);
	content: "";
	height: 48px;
	width: 48px;
	background-color: white;
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.philosophy-img {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 160px;
	text-align: left;
}

.philosophy-text {
	margin-top: 20px;
}

.philosophy-arrow {
	height: 160px;
	position: absolute;
}

.smartsitters-arrow {
	margin-top: 45px;
	border-radius: 20px;
}

.smartsitters-arrow:hover {
	background-color: #d8d8d8;
}

.card {
	border: solid 1px black;
}

.activities-img {
	padding: 20px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

.activities-img-sm, .smarts-img-sm, .search-result-profil-img, .search-result-img {
	margin-bottom: 0px;
	padding: 0px;
	padding-top: 10px;
	max-width: 4em;
}

.search-result-img {
	max-width: 3.5em;
}

.smarts-img-sm, .search-result-profil-img {
	max-width: 6em;
}

.activities-img img, .activities-img-sm img, .smarts-img-sm img, .search-result-img img {
	border: solid 1px #d8d8d8;
	transition: all 0.5s ease-out;
}

.activities-img img:hover, .activities-img-sm img:hover, .smarts-img-sm img:hover, .search-result-img img:hover {
	border: solid 1px #d70074;
}

.activities-img-sm-selected, .img-selected, .selected-day {
	border: 1px solid #ffcf01 !important;
}

.img-selected-red {
	border: 1px solid #d70074 !important;
}

.quote-left {
	font-size: 2em;
	line-height: 1em;
}

.quote-right {
	line-height: 0em;
    font-size: 1.5em;
}

.activities-arrow, .smarts-arrow, .activities-arrow-disabled {
	margin-top: 2em;
	border-radius: 2em;
}

.smarts-arrow {
	margin-top: 3em;
}

.activities-arrow:hover, .smarts-arrow:hover {
	background-color: #d8d8d8;
}

.cover-bottom {
	position: absolute;
	left: 50%;
	min-width: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform: translateX(-50%);
		  transform: translateX(-50%);
}

.navbar-user-wrapper {
	background-color: white;
}

.navbar-user-notif {
	margin-top: -3.5em;
	margin-bottom: 3.5em;
	margin-left: 40px;
}

.navbar-user-img {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 3.5em;
}

.navbar-user-button {
	cursor: pointer;
	color: black;
	font-size: 1rem;
	transition: all .3s ease-out;
}

.navbar-user-button-wrapper {
	margin-top: -2.5em;
	float: right;
	width: 250px;
}

.navbar-user-button:hover {
	color: #d70074;
}

.navbar-user-button-active {
	color: #ffcf01;
}

.bell-notif, .enveloppe-notif, .recents-notif {
	float: left;
    text-align: center;
    height: 1.5em;
    width: 1.5em;
    border-radius: 4em;
    background-color: #ffcf01;
    color: white;
    font-weight: bold;
    margin-left: -2.3em;
    margin-top: 1.8em;
}

.bell-dropdown li {
	min-height: 4.7em;
}

.bell-dropdown li:hover {
	background-color: #ececec !important;
}

.bell-dropdown li .selected {
	background-color: #d7f1ff !important;
}

.enveloppe-notif {
    background-color: #d70074;
	margin-left: -10px;
}

.recents-notif {
    background-color: #d70074;
	margin-left: 0px;
	margin-top: 5px;
}

.navbar-smartsitter-wrapper, .navbar-parent-wrapper {
	background-color: #3C3C3B;
}

.navbar-smartsitter-img, .navbar-parent-img {
	padding-top: 1em;
    padding-bottom: 1em;
    height: 3.5em;
    margin-left: 5em;
}

.navbar-smartsitter-button, .navbar-parent-button {
	cursor: pointer;
	color: white;
	font-size: 1rem;
	transition: all .3s ease-out;
}

.navbar-smartsitter-button-active, .navbar-parent-button-active {
	color: #ffcf01;
}

.navbar-smartsitter-button:hover, .navbar-parent-button:hover {
	color: #d70074;
}

.navbar-smartsitter-button-wrapper, .navbar-parent-button-wrapper {
	width: 550px !important;
	padding-top: 1.1em;
}

.website {
	margin-top: 0px !important;
	padding: 1em !important;
	border-radius: 1em;
	background-color: #dddddd;
}

.website:hover {
	background-color: #cccccc !important;
}

.website-phpmyadmin {
	margin-top: 0px !important;
	padding: 1em !important;
	border-radius: 1em;
	background-color: #dddddd;
}

.website-phpmyadmin:hover {
	background-color: #e6e6e6 !important;
}

@media only screen and (min-width: 1100px) {
	.navbar-parent-button-wrapper {
		width: 710px !important;
		padding-top: 1.1em;
	}
}

.parrainage-button {
	line-height: 1em;
    margin-top: -9px;
    margin-right: 70px;
	font-size: 1rem;
	padding-left: 10px;
	padding-right: 10px;
}

.card-grey-yellow {
  border: 1px solid #ffcf01;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ececec;
}

.card-grey-blue {
  border: 1px solid #0076b6;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ececec;
}

.card-grey-red {
  border: 1px solid #d70074;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ececec;
}

.card-grey-green {
  border: 1px solid #4ac35e !important;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ececec;
}

.card-white {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}

.card-white-blue {
  border: 1px solid #0076b6;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}

.card-white-red {
  border: 1px solid #e42f91;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}

.card-white-yellow {
  border: 1px solid #ffcf01;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}

.card-title {
	text-align: left;
	font-weight: bold;
	font-size: 1.3em;
	padding: 10px;
	border-bottom: 1px solid #ececec;
}

.profil-img {
	margin: 30px 0px;
}

.progress-wrapper {
    width: 50px;
    height: 50px;
}

.progress-circle {
    width: 3em;
    height: 3em;
	float: right;
	margin-top: -3em;
}

.progress-img {
	float: right;
	height: 3em;
	width: 3em;
}

.progress-percent {
	font-size: 1em;
	width: 3em;
}

.smartsitter-home-talent-img {
	height: 75px;
	margin: 10px;
	border: solid 1px #d8d8d8;
	transition: all 0.5s ease-out;
}

.smartsitter-home-talent-img:hover {
	border: solid 1px #d70074;
}

.family-border {
	border: 2px solid #d70074;
	color: #d70074;
	padding: 10px;
	font-weight: bold;
}

.allergies-list, .adjectif-list {
	float: left;
	margin: 20px 10px;
}

.mon-profil-img {
	height: 9em;
	margin: 0.5em;
}

.mon-profil-icon {
	float: left;
	height: 30px;
	margin-top: 13px;
	margin-right: 5px;
}

.talent-card-img {
	height: 7em;
	margin: 10px;
}

.doc-icon {
	height: 40px;
	float: left;
}

.doc-content {
	margin-left: 70px;
}

.doc-wrapper {
	padding: 10px 20px;
	height: 60px;
	border-bottom: 1px solid #ececec;
}

.doc-wrapper:hover {
	background-color: #ececec;
}

.preference-wrapper {
	padding: 0.75em;
    border-bottom: 1px solid #ececec;
}

.dispo-text {
	margin-top: 12px;
}

.white-section {
	background-color: white;
	border-radius: 3px;
	padding: 10px !important;
	margin-bottom: 20px;
}

.red-section {
	background-color: #ffdbee;
	border-radius: 3px;
	padding: 10px !important;
	margin-bottom: 20px;
}

.green-section {
	background-color: #cfffd5;
	border-radius: 3px;
	padding: 10px !important;
	margin-bottom: 20px;
}

.blue-section {
	background-color: #d7f1ff;
	border-radius: 3px;
	padding: 10px !important;
	margin-bottom: 20px;
}

.yellow-section {
	background-color: #fff4c4;
	border-radius: 3px;
	padding: 10px !important;
	margin-bottom: 20px;
}

.conversation-wrapper .blue-section, .conversation-wrapper .grey-section {
	padding-top: 5px !important;
}

.grey-section {
	background-color: #ececec;
	border-radius: 3px;
	padding: 10px !important;
	margin-bottom: 20px;
}

.toolbox-activity-img {
	max-height: 100px;
	margin-bottom: 20px;
}

.toolbox-activity-img:hover {
	border: 1px solid #d70074;
}

.gardes-tab {
	font-size: 1em;
	margin-bottom: 0px;
	cursor: pointer;
	transition: all 0.25s ease-out;
}

.gardes-tab:hover {
	color: #d70074;
}

.gardes-tab-selected {
	font-color: #d70074;
	background-color: white;
	border: 1px solid #d70074;
	border-bottom: none;
	color: #d70074;
}

.calendar-scale {
	cursor: pointer;
	font-size: 1rem;
	font-weight: 400;
	border: 1px solid #7b7b7b;
	padding: 2px 5px;
}

.calendar-scale-selected {
	color: white;
	background-color: #7b7b7b;
}

.calendar-month-day-side {
	float: left;
	width: 14.285%;
}

.calendar-month-day {
	float: left;
	width: 14.285%;
}

.calendar-week-day {
	float: left;
	width: 12.5%;
}

.calendar-day {
	float: left;
	width: 87.5%;
}

.calendar-month-cell {
	position: relative;
	width: 14.285%;
	overflow: hidden;
	border: 1px solid #ececec;
	border-right: none;
	border-bottom: none;
}

.calendar-month-cell:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.calendar-month-cell-content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.calendar-month-cell-div {
	display: table;
	width: 100%;
	height: 100%;
}

.calendar-month-cell-span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.calendar-week-cell {
	margin-bottom: 0px;
	height: 2em;
	position: relative;
}

.calendar-week-cell-content {
	height: 0.5em;
	width: 100%;
}

.calendar-week-cell-hour {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-right: 5px;
	margin-top: -0.3em;
}

.calendar-week-cell-border {
	border-bottom: 1px solid #ececec;
	border-right: 1px solid #ececec;
}

.calendar-week-cell-top {
	border-top: 1px solid #ececec;
}

.calendar-week-cell-left {
	border-left: 1px solid #ececec;
}

.grey-cell {
	background-color: #ececec;
	color: white;
}

.red-cell {
	background-color: #ffb1db;
	color: white;
}

.yellow-cell {
	background-color: #ffe577;
	color: white;
}

.blue-cell {
	background-color: #d7f1ff;
	color: white;
}

.green-cell {
	background-color: #cfffd5;
	color: white;
}

.message-wrapper {
	width: 50%;
}

.message-list-selected {
	background-color: #fff1b7 !important;
}

.message-list:hover {
	background-color: #fff1b7 !important;
	cursor: pointer;
}

.message-user-left, .message-user-right {
	font-weight: bold;
	font-size: 1.5em;
	text-align: left;
}

.message-user-right {
	text-align: right;
}

.note, .message {
	text-align: justify;
	margin-bottom: 0px;
	margin-top: 0px;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.ligne-hover {
	cursor: pointer;
}

.ligne-hover:hover {
	background-color: #ffdbee;
}

.notification-wrapper {
	color: white;
	font-weight: bold;
	width: 100%;
	background-color: #0076b6;
	padding: 10px 0px;
	cursor: pointer;
    transition: all .3s ease-out;
}

.search-stat {
	border: 2px solid #d70074;
	border-radius: 100%;
	font-size: 3em;
	height: 2em;
	width: 2em;
}

.search-stat-title {
	text-align: center;
	background-color: #fafafa;
	font-weight: bold;
	margin-top: -1em;
}

.search-result-icon {
	transition: all 0.1s ease-out;
}

.search-result-icon-selected {
	color: #ffcf01 !important;
}

.search-result-icon:hover {
	color: #d70074;
}

.day-wrapper, .day-wrapper-card {
	font-size: 2em;
    width: 2em;
    border-radius: 100%;
    height: 2em;
    padding-top: 0.25em;
    float: left;
    margin: 0.5em;
	border: 1px solid #c5c5c5;
	color: #c5c5c5;
}

.day-wrapper-card {
	margin-top: -1.5em;
    background-color: white;
    width: 2em;
    height: 2em;
    padding-top: 0.3em;
    margin-left: -1.35em;
    font-size: 3em;
}

.selected-day {
	color: #ffcf01 !important;
}

.smartsitter-inscription-img {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	height: 4em;
	text-align: left;
}

@font-face {
    font-family: 'Always In My Heart';
    src: url('../fonts/Always In My Heart.ttf');
}

.handwritting {
	font-family: 'Always In My Heart';
	font-size: 2.5em;
}

.handwritting-sm {
	font-family: 'Always In My Heart';
	font-size: 1.5em;
}

.inscription-input-one-ligne, .inscription-radio-one-ligne {
	height: 2.5em;
}

.inscription-radio-one-ligne {
	margin-top: 0.7em;
}

.lss-file-input {
	float: left;
	margin-top: -0.5em;
	margin-left: 1em;
}

.inscription-card-wrapper {
	padding: 0px 1em !important;
	margin-bottom: 1em;
}

.inscription-card, .inscription-card-drop {
	background-color: #f3f3f5;
	border: 1px solid #b5b5b5;
	border-radius: 10px;
}

.inscription-card-drop {
	background-color: white;
	border: 2px dashed #b5b5b5;
}

.inscription-card-img {
	max-width: 6em !important;
	width: 100%;
}

.highlight {
	color: #d70074 !important;
	border: 2px dashed #d70074 !important;
}

.selected-card, .mousedown-category {
	width: auto !important;
	height: auto !important;
}

.mousedown-category {
	float: left;
}

.selected-cat {
	color: #d70074;
}

.selected-cat img {
	border: 1px solid #ffcf01;
}

.inscription-card-nb {
	font-size: 7em;
    margin-left: -0.3em !important;
    line-height: 1em;
	color: #ababab;
}

.address-wrapper {
	margin-bottom: 4em;
}

/*Navbar height override*/

nav {
    height: 70px;
    line-height: 70px;
}

.nav{float:left; text-align:left;}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 70px;
    line-height: 70px;
}

nav .button-collapse i {
    height: 70px;
    line-height: 70px;
}

nav .brand-logo { 
    font-size: 1.6rem;
	height: 70px !important;
}

.navbar-fixed, .navbar-fixed li a {
	height: 70px;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 70px;
        line-height: 70px;
    }
}

/* Home-navbar */

.home-menu {
	color: #fff;
    background-color: rgba(51, 51, 51, 0.1);
    width: 100%;
}

.home-menu-button {
	cursor: pointer;
	color: white;
	font-size: 1.3rem;
	transition: all .3s ease-out;
}

.home-menu-button:hover {
	color: #d70074;
}

.home-menu-middle-button {
	border-right: 2px solid #0076b6;
	border-left: 2px solid #d70074;
}

.transition-ease-out {
	transition: all 0.1s ease-out;
}

.hide-miniature {
	width: 0px !important;
	padding: 0px !important;
	margin: 0px;
}

@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@media print {
#break {
      page-break-after: always;
    }
}
