{% extends 'CoreBundle::layout.html.twig' %}

{% block body %}
{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script>
		
		$(document).ready(function () {
			
		});
	</script>
{% endblock %}