.loader {
	width: 70px;
	height: 70px;
	display: inline-block;
	position: relative;
}

.loader-full {
    vertical-align: middle;
}

/* Triple cercles */

.loader-triple, .loader-triple-grey {
	border-radius: 70px;
	border: 2px solid transparent;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

.loader-triple-grey {
	border-top-color: #969696;
	border-bottom-color: #969696;
}

.loader-triple:before, .loader-triple-grey:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	border-radius: 70px;
	border: 2px solid transparent;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
	opacity: 0.6;
	-webkit-animation: spin 10s linear infinite;
	animation: spin 10s linear infinite;
}

.loader-triple-grey:before {
	border-top-color: #969696;
	border-bottom-color: #969696;
}

.loader-triple:after, .loader-triple-grey:after {
	content: '';
	position: absolute;
	top: 7.5px;
	left: 7.5px;
	bottom: 7.5px;
	right: 7.5px;
	border-radius: 70px;
	border: 2px solid transparent;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
	opacity: 0.4;
	-webkit-animation: spin 5s linear infinite;
	animation: spin 5s linear infinite;
}

.loader-triple-grey:after {
	border-top-color: #969696;
	border-bottom-color: #969696;
}

@keyframes spin{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }
}

@keyframes spinreverse{
	0%{ transform: rotate(0deg); }
	100%{ transform: rotate(-360deg); }
}